.page {
  min-width: $mobile-width;
  min-height: 100vh;
  padding: $spacing-outer-mobile;

  @include phablet {
    padding: $spacing-outer-phablet;
  }

  @include laptop {
    padding-left: 345px + ($spacing-outer-phablet * 2);

    &::before {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      height: $spacing-outer-phablet;
      background-color: var(--bg-base);
      z-index: 1;
    }

    &::after {
      content: "";
      position: fixed;
      top: $spacing-outer-phablet;
      right: 4px;
      left: 4px;
      height: $border-radius;
      background-repeat: no-repeat;
      background-size: 28px $border-radius;
      background-position:
        left center,
        left (345px - $spacing-outer-phablet) center,
        left (345px + $spacing-outer-phablet) center,
        right center;
      background-image:
        url("../img/nav-frame-left.svg"),
        url("../img/nav-frame-right.svg"),
        url("../img/nav-frame-left.svg"),
        url("../img/nav-frame-right.svg");
    }
  }

  @include desktop {
    padding-left: 400px + ($spacing-outer-phablet * 2);

    &::after {
      background-position:
        left center,
        left (400px - $spacing-outer-phablet) center,
        left (400px + $spacing-outer-phablet) center,
        right center;
    }
  }
}

.page__header {
  margin-bottom: $spacing-outer-mobile;

  @include phablet {
    margin-bottom: $spacing-outer-phablet;
  }

  @include laptop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 345px + ($spacing-outer-phablet * 2);
    margin-bottom: 0;
  }

  @include desktop {
    width: 400px + ($spacing-outer-phablet * 2);
  }
}

.page__section {
  padding-bottom: $spacing-outer-mobile;

  &:last-child {
    padding-bottom: 0;
  }

  @include phablet {
    padding-bottom: $spacing-outer-phablet;
  }
}
