.resume {
  padding-top: 40px;
  padding-bottom: 40px;

  @include phablet {
    padding-top: 48px;
    padding-bottom: 80px;
  }

  @include desktop {
    padding-top: 64px;
    padding-bottom: 85px;
  }
}

.resume__title-wrap {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;

  &::before {
    content: "";
    position: absolute;
    right: -$spacing-inner-mobile;
    bottom: 0;
    left: -$spacing-inner-mobile;
    height: 1px;
    background-color: var(--border-color);
  }

  @include phablet {
    padding-bottom: 60px;
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  @include desktop {
    padding-bottom: 80px;
  }
}

.resume__title {
  margin-top: 0;
  margin-bottom: 10px;

  @include phablet {
    margin-bottom: 0;
  }
}

.resume__experience {
  margin: 0;

  @include phablet {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
  }
}

.resume__list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;

  @include phablet {
    margin-bottom: 45px;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.resume__item {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;

  &::before {
    content: "";
    position: absolute;
    right: -$spacing-inner-mobile;
    bottom: 0;
    left: -$spacing-inner-mobile;
    height: 1px;
    background-color: var(--border-color);
  }

  @include phablet {
    margin-bottom: 40px;
    padding: 0;

    &::before {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
