.tech {
  padding-top: 40px;
  padding-bottom: 40px;

  @include phablet {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  @include desktop {
    padding-top: 64px;
    padding-bottom: 120px;
  }
}

.tech__title {
  max-width: 30ch;
  margin-top: 0;
  margin-bottom: 40px;

  @include phablet {
    margin-bottom: 80px;
  }

  @include desktop {
    margin-bottom: 100px;
  }
}

.tech__wrap {
  @include phablet {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.tech__icon-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 1fr));
  grid-gap: $spacing-outer-mobile;
  max-width: 440px;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;

  @include phablet {
    grid-column: 1 / 5;
    grid-template-columns: repeat(6, 80px);
    grid-gap: 1rem;
    max-width: 100%;
  }

  @include desktop {
    grid-column: 1 / 4;
    grid-template-columns: repeat(6, minmax(90px, 100px));
    align-content: start;
    margin-right: $spacing-inner-phablet;
    margin-bottom: 0;
  }
}

.tech__icon-item {
  position: relative;
  border-radius: $border-radius-sm;
  padding-top: 100%;
  background-color: var(--tech-bg);
}

.tech__icon-img {
  position: absolute;
  width: 48.6%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include phablet {
    width: 38px;
  }

  @include desktop {
    width: 48px;
  }
}

.tech__name-list {
  max-width: 40ch;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;

  @include phablet {
    grid-column: 4 / -1;
    grid-row: 2 / span 1;
    max-width: 45ch;
    margin-left: 0;
  }

  @include desktop {
    grid-row: 1 / span 1;
    align-self: end;
  }
}

.tech__name-item {
  display: inline;
}
