{% set textItems = [
  'currently based in&nbsp;Moscow, Russia.',
  'I&nbsp;enjoy creating fully responsive and performant websites. I&nbsp;like taking on&nbsp;challenges, solving problems and trying to&nbsp;make the web a&nbsp;better place.',
]%}
<div class="page__section js-nav-anchor">
  <div class="section lead">
    <div class="section__content lead__content">
      <h1 class="lead__title h1">
        Hello, <br>
        my name is Pavel. <br>
        I'm a frontend developer
      </h1>
      <picture class="lead__picture">
        <source
          srcset="img/avatar.webp 1x,
                  img/avatar@2x.webp 2x"
          type="image/webp">
        <img
          class="lead__img"
          srcset="img/avatar.jpg 1x,
                  img/avatar@2x.jpg 2x"
          src="img/avatar.jpg"
          alt="Павел Мареев">
      </picture>
      <div class="lead__text">
        {% for textItem in textItems %}
        <p class="lead__parag">{{ textItem }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
