*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--bg-base);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Manrope, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.625;
  color: var(--text);
}

img {
  max-width: 100%;
}

svg {
  width: 1em;
}

.rounded {
  border-radius: 20px;
}

.rounded-sm {
  border-radius: 10px;
}
