.container {
  max-width: $content-max-width;
  padding: 0 $spacing-inner-mobile;
  margin: 0 auto;

  @include phablet {
    padding: 0 $spacing-inner-phablet;
  }

  @include desktop {
    padding: 0 $spacing-inner-desktop;
  }
}
