:root {
  // colors

  // text
  --text: #000;
  --text-neutral: #8e8e8c;
  --text-invert: #fff;
  --text-invert-neutral: #999;

  // skill icons
  --tech-fill: #272727;
  --tech-bg: #dfdfdf;

  // border
  --border: #cccbc9;

  // background
  --bg: #edecea;
  --bg-invert: #272727;
  --bg-base: #fff;
}

// border
$border-radius: 20px;
$border-radius-sm: 10px;

// breakpoints
$mobile-width: 320px;
$phablet-width: 768px;
$tablet-width: 1024px;
$laptop-width: 1280px;
$desktop-width: 1600px;

// containers
$content-max-width: 1404px;

// spacing
$spacing-outer-mobile: 8px;
$spacing-outer-phablet: 12px;
$spacing-inner-mobile: 20px;
$spacing-inner-phablet: 32px;
$spacing-inner-desktop: 40px;
$spacing-first-line: 44px;

// avatar
$avatar-size: 120px;
