@import "normalize";
@import "variables";
@import "mixins";
@import "fonts";
@import "global";
@import "typography";
@import "blocks/page";
@import "blocks/button";
@import "blocks/header";
@import "blocks/section";
@import "blocks/lead";
@import "blocks/tech";
@import "blocks/projects";
@import "blocks/resume";
@import "blocks/contacts";
