{% import '../macros.twig' as macros %}

{% set navItems = [
  {
    name: "Технологии и навыки",
    id: "tech",
  },
  {
    name: "Проекты",
    id: "projects",
  },
  {
    name: "Опыт работы",
    id: "resume",
  },
  {
    name: "Контакты",
    id: "contacts",
  },
] %}

{% set contactItems = [
  {
    href: "mailto:mareev.pv@gmail.com",
    name: "mareev.pv@gmail",
  },
  {
    href: "https://t.me/etpotato",
    name: "telegram",
  },
] %}

<header class="page__header header no-js">
  <div class="header__wrap">
    <p class="header__lead">
      <span class="header__lead-name">Павел Мареев</span>
      <span class="header__lead-job p2">frontend-developer</span>
    </p>
    <nav class="header__nav js-nav">
      <ul class="header__nav-list js-nav-list">
        {% for item in navItems %}
          <li class="header__nav-item">
            <a class="header__nav-link js-nav-link" href="#{{ item.id }}">
              {{ item.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <ul class="header__contact-list">
      {% for contactItem in contactItems %}
        <li class="header__contact-item">
          {{ macros.extlink("header__contact-link p2", contactItem.href, contactItem.name) }}
        </li>
      {% endfor %}
    </ul>
  </div>
</header>
