{% extends './templates/base.twig' %}

{% block title %}Pavel Mareev. Frontend developer{% endblock %}

{% block page %}
  <main class="page__main">
    {% include './templates/blocks/lead.twig' %}
    {% include './templates/blocks/tech.twig' %}
    {% include './templates/blocks/projects.twig' %}
    {% include './templates/blocks/resume.twig' %}
    {% include './templates/blocks/contacts.twig' %}
  </main>
{% endblock %}
