{% extends './templates/base.twig' %}

{% block title %}Page title{% endblock %}

{% block page %}
  <main class="page__main main">
    <div class="container">
      <h1 class="h1">Hello world</h1>
      <img src="./img/jpeg.jpg" width="300" height="300" alt="elephant">
    </div>
  </main>
{% endblock %}
